CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.o
*.so
*.pyc
*.egg-info/
*.p
*.npy
*.model
.idea
dist/
__pycache__
search_index
*.dat
*.bin
.venv/
venv/
nmslib
.env
db_data
*.pdf
*.ppt
*.pptx
*.csv
env/
venv/
local-test.py
try/
*.mp4
*.
vscode.deb
app/api/assets/*
*swp
.vscode